extends layout

block title
  = __('Preview')

block content
  p.embed-responsive.embed-responsive-4by3
    iframe(width="420" height="315" src="https://www.youtube.com/embed/q7tBbHhRM_I" allowfullscreen)