extends layout

block body

  .jumbotron
    .container-fluid
      .row
        .col-sm-4
          include th
        .col-sm-8
          h1: include jikopster
          h1: include touchero

  .container
    .row
      .col-sm-7.col-sm-push-5.col-md-8.col-md-push-4
        include columns/video
      .col-sm-5.col-sm-pull-7.col-md-4.col-md-pull-8
        include columns/files
        include columns/links